branches:
  only:
  - master
  - devel

env:
  global:
  - RGL_USE_NULL=TRUE
  - PKG_CFLAGS="-O3 -Wall -pedantic"

language: R
sudo: required
cache: packages
cran: http://cran.rstudio.com
warnings_are_errors: true
r_build_args: "--no-manual"
r_check_args: "--no-build-vignettes --no-manual"

r:
  - release
  - devel

before_install:
  - sudo apt-get -y install libx11-dev mesa-common-dev libglu1-mesa-dev
  - sudo apt-get -y install python3 python3-pip python3-setuptools
  - sudo -H pip3 install --quiet --progress-bar off --upgrade pip setuptools
  - sudo -H pip3 install --quiet --progress-bar off --ignore-installed numpy tensorflow keras
  #- Rscript -e 'update.packages(ask = FALSE)'

r_packages:
  - devtools
  - covr
  - sessioninfo
  - data.table

r_github_packages:
  - r-lib/covr
  - r-lib/sessioninfo
  - osofr/simcausal
  - osofr/condensier
  - tlverse/origami
  - tlverse/delayed
  - tlverse/hal9001
  - nhejazi/haldensify
  - tpospisi/cdetools/r
  - tpospisi/RFCDE/r

after_success:
  - travis_wait 80 Rscript -e 'covr::codecov()'

on_failure:
  - "./travis-tool.sh dump_logs"

notifications:
  email:
    on_success: change
    on_failure: change
